@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Exa:wght@100..900&family=M+PLUS+Code+Latin:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'DM Sans' , 'Lato' , 'Poppins' , sans-serif;
}
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;      
    height: 100vh;     
    object-fit: cover; 
    z-index: -3;
}
.blackbg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(3 0 30 / 37%);
    z-index: -2;
}
.bluebox{
    width: 0;
    left: 50%;
    position: sticky;
    z-index: -1;
    box-shadow: 10px -100px 230px 200px #0812c6;
}
main{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
a{
    text-decoration: none;
    color: #d5d5d5;
    transition: all 0.1s linear;
}
li{
    transition: all 0.1s linear;
}
li:hover{
    transform: scale(1.05);
}
a:hover{
    color: white;
}
ul{
    /* box-shadow: 0 0 11px 0px #161686; */
    background-color: rgb(255 255 255 / 4%);
    backdrop-filter: blur(20px);
    border-radius: 100px;
    padding: 10px 20px;
    border: 1px solid #493276;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    gap: 3.5rem;
}
.nav-bar{
    animation: slideTop 1s ease forwards;
}

#hero-section{
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: slideLeft 1s ease forwards;
}
@keyframes slideTop{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideLeft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.hero-define-txt{
    border: 1px solid #0812c6;
    width: fit-content;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 100px;
    box-shadow: 0 0 11px 0px #161686;
}
.hero-head{
    font-size: 4rem;
}
.head-txt{
    background: linear-gradient(126deg, #ff0094, #4100ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    color: transparent;
}
.hero-txt-desc{
    color: #ababab;
    width: 80%;
    font-size: 1.3rem;
    line-height: 1.8
}
.hero-btn{
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}
.hero-btn button{
    cursor: pointer;
    font-size: 1.2rem;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    backdrop-filter: none;
    background-color: #7f73e3ab;
    box-shadow: 3px 3px 0px 0px #0000ec;
    transition: all 0.1s linear;
}
.hero-btn button:hover{
    transform: translate(-2% , -5%);
}

#about-section{
    width: 75%;
    margin: 9rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* animation: slideRight 1s ease forwards; */
}
/* @keyframes slideRight {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
} */
.txt-head-section{
    font-family: 'M PLUS Code Latin';
    font-size: 2rem;
}
.about{
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.profile{
    border-radius:10%;
    width: 30%;
    transition: all 0.1s linear;
}
.profile:hover{
    transform: scale(1.04);
    box-shadow: 0px 0px 10px 10px #272753;
}
.about-btn{
    border: 1px solid #6a6aff;
    width: fit-content;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 100px;
    background-color: #0000ff;
    padding: 10px 30px;
    box-shadow: 0 0 5px 1px #3f3fff;
    transition: all 0.1s linear;
    a{
        color: white;
    }
}
.about-btn:hover{
    transform: translate(-2% , -5%);
    box-shadow: 3px 3px 0px 0px #9c9cfb;
}


#skills-section{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skill-video{
    position: relative;
    width: 100%;
    box-shadow: 0px 10px 60px 40px black;
}
.skills{
    width: 75%;
    z-index: 1;
    position: absolute;
    top: 1;
}
.card-img{
    width: 80px;
}
.card{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #6a6aff;
    background-color: #201337b0;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.1s linear;
}
.card:hover{
    transform: translate(-2%,-3%);
    box-shadow: 6px 4px 0px 1px #5881ce;
}
.skills-box{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 3rem;
    justify-content: center;
}

#project-section{
    margin: 8rem;
    width: 75%;
}
.pro-img{
    width: 300px;
    border-radius: 20px;
}
.projects{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.pro-card{
    padding: 10px;
    border: 3px solid #5881ce;
    border-radius: 20px;
    width:100%;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    transition: all 0.1s linear;
}
.pro-card:hover{
    box-shadow: 2px 3px 15px 2px #9c9cfb;
    transform: translate(-1%, -1%);
}
.pro-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .pro-btn{
        display: flex;
        gap: 1rem;
    }
}
.view-btn{
    color: white;
    background-color: #65656c;
    padding: 10px 20px;
    border-radius: 7px;
}
.live-btn{
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: #3f3fff;
}

#connect-section{
    box-shadow: 0 -2px 30px 2px #304282;
    width: 100vw;
    background-color: #1a1744ba;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.connet{
    margin: 3rem;
    width: 75%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.con-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.con-icon{
    display: flex;
    gap: 1rem;
    img{
        width: 20px;
    }
}

.quick-links{
    display: flex;
    flex-direction: column;
    color: white;
    p{
        font-size: 1.3rem;
    }
    a:hover{
        color: orange;
    }
}
.social-links{
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
    img{
        width: 30px;
    }
}
#contact-form{
    border-radius: 10px;
    background-color: #2643798c;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding: 2rem;
    button{
        cursor: pointer;
        transition: all 0.1s linear;
        box-shadow: 1px 1px 7px 1px #4d4dac;
        border: none;
        font-size: 1.3rem;
        border-radius: 7px;
        padding: 10px 20px;
        background: linear-gradient(310deg, #3d1755, #002ac8);
    }
    button:hover{
        transform: translate(-1%,-3%);
    }
}
.con-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h2{
        background: linear-gradient(126deg, #ff0094, #4100ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        background-clip: text;
        color: transparent;
    }
}
input, textarea{
    border-radius: 8px;
    padding: 10px;
    border: 2px solid white;
    color: black;
    
}


@media screen and (max-width: 1000px) {
    #hero-section{
        align-items: center;
    }
    .skill-video{
        display: none;
    }
    .skills{
        position: unset;
    }
}

@media screen and (max-width:600px) {
    .nav-bar{
        display: none;
    }
    #hero-section{
        margin-top: 3rem;
        align-items: center;
    }
    .hero-head{
        font-size: 2.5rem;
    }
    .txt-head-section{
        font-size: 1.8rem;
    }
    #about-section{
        margin-bottom: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .profile{
        border-radius: 20px;
        width: 350px;
    }
    .about-txt{
        font-size: 1.4rem;
    }
    .skill-video{
        display: none;
    }
    .skills{
        position: unset;
    }
    .pro-card{
        flex-direction: column;
        width: fit-content;
        gap: 1.5rem;
    }
    .connet{
        flex-direction: column-reverse;
        .con-left, .con-right{
            width: 100%;
        }
        .con-left{
            margin-top: 2rem;
        }
    }
}

@media screen and (max-width: 410px) {
    #hero-section{
        margin-top: 1.5rem;
    }
    .hero-define-txt{
        font-size: 1rem;
    }
    .hero-head{
        font-size: 2rem;
    }
    .hero-btn{
        flex-direction: column;
        gap: 1rem;
    }
    .txt-head-section{
        font-size: 1.3rem;
    }
    .profile{
        width: 300px;
    }
    .about-txt{
        font-size: 1.2rem;
    }
    .about-btn{
        font-size: 1rem;
        img{
            width: 20px;
        }
    }
    .skills-box{
        column-gap: 2rem;
    }
    .card{
        width: 120px;
        height: 120px;
        .card-img{
            width: 50px;
        }
    }
}